<footer class="blockquote-footer footer-padding footer">
    <div>
        <img src="images/logo.png" alt="logo" width="30" height="30">
        <p>&copy; Made for Fun</p>
    </div>
</footer>
</body>

</html>