<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>bank</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <link rel="stylesheet" href="css/dashboard.css">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand home" style="color:#333;font-size: xx-large; font-weight: 600;">DASH BOARD</p>
      </div>
      <ul class="nav navbar-nav navbar-right home">
        <li id="profile"><a style="font-weight: 600; font-size: medium; " href="/profile">PROFILE</a></li>
        <li id="banking"><a style="font-weight: 600; font-size: medium;" href="/banking">BANKING OPTIONS</a></li>
        <li id="logout"><a style="font-weight: 600;  font-size: medium;" href="/">LOG OUT</a></li>
      </ul>
    </div>
  </nav>
</head>

<body>
  <div class="jumbotron container-fluid homecontent">
    <h1 class=" text-primary">Hello, Customer</h1>
    <hr class="my-4">
    <p>Click profile to go see your details,</p>
    <p> Click Banking Options to see what you can do in the bank</p>
    <p>Click Logout to securly logout from your account </p>
  </div>
  <footer class="blockquote-footer footer-padding footer">
    <div>
      <img src="images/logo.png" alt="logo" width="30" height="30">
      <p>&copy; Made for Fun by Yoga and Vivek</p>
    </div>
  </footer>
</body>

</html>